# AirBnB Listings
## Data preprocessing
Dataset contains AirBnB listings from many cities, we will select and continue our work with subset of Listings from Paris
Source: https://www.kaggle.com/vaibhav2025/airbnb-listings-reviews

Selecting Paris-only data, getting rid of useless columns, filling missing values

In [4]:
#importing libraries
import pandas as pd
import numpy as np

In [5]:
#reading data
dfAll = pd.read_csv('Airbnb_Data/Listings.csv', low_memory=False)
dfAll.head(5)

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃ‚Â² Paris (Sacre CÃ…â€œur),10328771,29/11/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [6]:
dfAll['host_location'].value_counts()

Paris, Ile-de-France, France                           47794
New York, New York, United States                      24040
Rome, Lazio, Italy                                     20138
Cape Town, Western Cape, South Africa                  13602
Rio de Janeiro, State of Rio de Janeiro, Brazil        13211
                                                       ...
Niort, Poitou-Charentes, France                            1
Gloversville, New York, United States                      1
Rangsit, Pathum Thani, Thailand                            1
Ozumba de Alzate, Estado de Mexico, Mexico                 1
BrasÃƒÂ­lia de Minas, State of Minas Gerais, Brazil        1
Name: host_location, Length: 7159, dtype: int64

In [8]:
df = dfAll[dfAll['host_location'] == 'Paris, Ile-de-France, France']

In [9]:
df['city'].value_counts()

Paris             47468
New York             98
Rome                 64
Rio de Janeiro       60
Sydney               45
Istanbul             22
Mexico City          14
Hong Kong            10
Cape Town             8
Bangkok               5
Name: city, dtype: int64

In [10]:
#subsetting Paris-only data
df = df[df['city'] == 'Paris']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47468 entries, 0 to 279711
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   listing_id                   47468 non-null  int64
 1   name                         47417 non-null  object
 2   host_id                      47468 non-null  int64
 3   host_since                   47468 non-null  object
 4   host_location                47468 non-null  object
 5   host_response_time           16527 non-null  object
 6   host_response_rate           16527 non-null  float64
 7   host_acceptance_rate         23192 non-null  float64
 8   host_is_superhost            47468 non-null  object
 9   host_total_listings_count    47468 non-null  float64
 10  host_has_profile_pic         47468 non-null  object
 11  host_identity_verified       47468 non-null  object
 12  neighbourhood                47468 non-null  object
 13  district                     0 non-null      object
 14  city                         47468 non-null  object
 15  latitude                     47468 non-null  float64
 16  longitude                    47468 non-null  float64
 17  property_type                47468 non-null  object
 18  room_type                    47468 non-null  object
 19  accommodates                 47468 non-null  int64
 20  bedrooms                     38384 non-null  float64
 21  amenities                    47468 non-null  object
 22  price                        47468 non-null  int64
 23  minimum_nights               47468 non-null  int64
 24  maximum_nights               47468 non-null  int64
 25  review_scores_rating         36948 non-null  float64
 26  review_scores_accuracy       36912 non-null  float64
 27  review_scores_cleanliness    36919 non-null  float64
 28  review_scores_checkin        36898 non-null  float64
 29  review_scores_communication  36911 non-null  float64
 30  review_scores_location       36899 non-null  float64
 31  review_scores_value          36900 non-null  float64
 32  instant_bookable             47468 non-null  object
dtypes: float64(13), int64(6), object(14)
memory usage: 12.3+ MB

In [12]:
#looking at missing values
pd.isnull(df).sum()

listing_id                         0
name                              51
host_id                            0
host_since                         0
host_location                      0
host_response_time             30941
host_response_rate             30941
host_acceptance_rate           24276
host_is_superhost                  0
host_total_listings_count          0
host_has_profile_pic               0
host_identity_verified             0
neighbourhood                      0
district                       47468
city                               0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bedrooms                        9084
amenities                          0
price                              0
minimum_nights                     0
maximum_nights                     0
review_scores_rating           10520
review_scores_accuracy         10556
review_scores_cleanliness      10549
review_scores_checkin          10570
review_scores_communication    10557
review_scores_location         10569
review_scores_value            10568
instant_bookable                   0
dtype: int64

In [13]:
#dropping useless columns
df = df.drop(['district','host_response_rate','host_response_time','host_acceptance_rate'],axis=1)

In [14]:
#filling missing values
df = df.fillna(df.mean(axis=0))

C:\Users\mates\AppData\Local\Temp/ipykernel_13820/3881464367.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.mean(axis=0))

#### Filling NAs in review_xx columns with it's means

#### Working with amenities column, selecting only interesting and meaningful categories, spliting them into boolean columns

In [15]:
amenitiesList = df.explode('amenities')
amenitiesList['amenities'] = amenitiesList['amenities'].apply(eval)

In [16]:
categories = []
for index, row in amenitiesList.iterrows():
    categories.extend(row['amenities'])

categories[:10]

['Heating',
 'Kitchen',
 'Washer',
 'Wifi',
 'Long term stays allowed',
 'Shampoo',
 'Heating',
 'Kitchen',
 'Essentials',
 'Washer']

In [17]:
dfOccur = pd.value_counts(np.array(categories)).to_frame()
pd.set_option('display.max_rows', None)
print(dfOccur[:10])

                             0
Heating                  45079
Wifi                     44883
Kitchen                  44385
Essentials               44106
Long term stays allowed  37276
Washer                   36929
Smoke alarm              34302
Hair dryer               32933
Hangers                  32759
Iron                     32581

In [20]:
setCategories = set(categories)

In [19]:
len(setCategories)

634

#### Selecting a few interesting categories based on their occurrence and on "subjective" value while choosing AirBnB

In [21]:
perks = ['parking', 'Hot water','Air conditioning','Lockbox','Ethernet connection','balcony','Private entrance',
         'TV','Dedicated workspace','Refrigerator','Cooking','Bathtub','Shower']

In [22]:
for perk in perks:
    df[perk] = df['amenities'].str.contains(perk)

In [23]:
pd.reset_option('display.max_rows')

In [24]:
df

,listing_id,name,host_id,host_since,host_location,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood,...,Lockbox,Ethernet connection,balcony,Private entrance,TV,Dedicated workspace,Refrigerator,Cooking,Bathtub,Shower
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",f,1.0,t,f,Buttes-Montmartre,...,False,False,False,False,False,False,False,False,False,False
1,3705183,39 mÃ‚Â² Paris (Sacre CÃ…â€œur),10328771,29/11/2013,"Paris, Ile-de-France, France",f,1.0,t,t,Buttes-Montmartre,...,False,False,False,False,False,False,False,False,False,False
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",f,1.0,t,f,Elysee,...,False,False,False,False,True,False,False,False,False,False
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",f,1.0,t,t,Vaugirard,...,False,False,False,False,True,False,False,False,False,False
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",f,1.0,t,f,Passy,...,False,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279707,38338635,Appartement T2 neuf prÃƒÂ¨s du tram T3a Porte ...,31161181,13/04/2015,"Paris, Ile-de-France, France",f,1.0,t,t,Observatoire,...,False,False,False,False,True,True,False,False,False,False
279708,38538692,Cozy Studio in Montmartre,10294858,27/11/2013,"Paris, Ile-de-France, France",f,1.0,t,t,Buttes-Montmartre,...,False,False,False,False,True,False,False,False,False,False
279709,38683356,Nice and cosy mini-appartement in Paris,2238502,27/04/2012,"Paris, Ile-de-France, France",f,1.0,t,t,Buttes-Montmartre,...,False,False,False,False,False,True,False,False,False,False
279710,39659000,Charming apartment near Rue Saint Maur / Oberk...,38633695,16/07/2015,"Paris, Ile-de-France, France",f,1.0,t,t,Popincourt,...,False,False,False,False,True,True,False,False,False,False
279711,40219504,Cosy apartment with view on Canal St Martin,6955618,17/06/2013,"Paris, Ile-de-France, France",f,1.0,t,t,Enclos-St-Laurent,...,False,False,False,False,False,True,True,True,False,True

#### Dropping more columns and creating a new categorical one based on price.
##### Split is into 3 categories, cheap >75, average >200 and expensive
##### Saving the dataframe to csv -> ready for EDA, ready for modelling

In [25]:
df = df.drop(['host_id','host_has_profile_pic','amenities','city'], axis=1)

In [26]:
df = df.rename(columns={"Air conditioning": "Air_conditioning", "Hot water": "Hot_water",
                   "Private entrance":"Private_entrance","Dedicated workspace":"Dedicated_workspace"})

In [27]:
df['price'].describe()

count    47468.000000
mean       110.788005
std        199.875762
min          0.000000
25%         59.000000
50%         80.000000
75%        119.000000
max      11599.000000
Name: price, dtype: float64

In [28]:
bins=[0, 75, 200, 36474]
labels=['Cheap', 'Average', 'Expensive']
df['price_category'] = pd.cut(df['price'], bins, labels=labels)

In [29]:
df['price_category'].value_counts()

Average      21981
Cheap        21706
Expensive     3759
Name: price_category, dtype: int64

In [30]:
df.to_csv('Airbnb_Data/prepListings.csv', index=False)

In [31]:
bins=[0, 75, 200, 36474]
labels=[1, 2, 3]
df['price_catN'] = pd.cut(df['price'], bins, labels=labels)

In [32]:
df['price_catN'].value_counts()

2    21981
1    21706
3     3759
Name: price_catN, dtype: int64

In [33]:
df.to_csv('Airbnb_Data/modelListings.csv', index=False)